set timeout=4
set default=0

menuentry "ZyphraOS v1.0  (VGA 80x25 - Recomendado)" {
    multiboot /boot/zyphraos.elf
    boot
}

menuentry "ZyphraOS v1.0  (VBE 800x600x32)" {
    set gfxmode=800x600x32
    set gfxpayload=keep
    insmod vbe
    insmod gfxterm
    multiboot /boot/zyphraos.elf
    boot
}

menuentry "ZyphraOS v1.0  (VBE 1024x768x32)" {
    set gfxmode=1024x768x32
    set gfxpayload=keep
    insmod vbe
    insmod gfxterm
    multiboot /boot/zyphraos.elf
    boot
}

menuentry "ZyphraOS v1.0  (VBE 1280x720x32)" {
    set gfxmode=1280x720x32
    set gfxpayload=keep
    insmod vbe
    insmod gfxterm
    multiboot /boot/zyphraos.elf
    boot
}
